mixin searchItem(id, title, description1, description2, price, originalPrice, image, score, review)
    section.item.search-item
        img(src=image, alt="image")
        div.item-text
            p.title=title
            span.line
            div.description
                p.desc1=description1
                p.desc2=description2
            div.bottom
                span.score
                    img.score-icon(src="/static/star.svg", alt="")
                    span #{score}
                span.review (#{review})
                span.price 
                    - if (originalPrice)
                        span.original 이전 가격 :
                            span.original-price #{originalPrice}
                    span.price-number
                        span.number #{price}
                        span /1박
                        button.booking(id=id) 예약하기
            