
html
    head
        title='Airbnb : 검색 결과'
        link(rel='stylesheet', href='/css/search.css')
    body
        include navbar.pug
        +navBar(isLoggedIn)  
        include searchHeader.pug
        +header(location, checkin, checkout, guest)
        div#result
            article#items
                div.search-top
                    p.sub-title #{length}개 이상의 숙소 
                        - if (checkin)
                            span ∙ #{checkin} - #{checkout}
                        - if (guest)
                            span.guest ∙ 게스트 #{guest}명
                    p.title #{location}의 숙소
                    div.search-buttons
                        button.condition 유연한 환불 정책
                        button.condition 숙소 유형
                        button.condition 요금
                        button.condition 침실과 침대
                        button.condition 필터 추가하기
                include book.pug
                +book(book-id)
                include zeroResult.pug
                if (data.length === 0)
                    +zeroResult()
                include searchItem.pug
                - for (let item of data)
                    - const {id, title, description1, description2, price, originalPrice, image, score, review} = item
                    +searchItem(id, title, description1, description2, price, originalPrice, image, score, review)
    block script
        script(type='module' src='/js/searchResult.js')